.txt-style .p1{
  text-decoration:underline;
}
.txt-style .p2{
  text-decoration:line-through;
}
.txt-style .p3{
  text-transform:capitalize;
}
.txt-style .p4{
  text-transform:uppercase;
}
.txt-style .p5{
  text-transform:lowercase;
}
.txt-style .c1{
  width: 400px;
  height:300px;
  border:dotted 1px  #000;
  background-color: #ccc;
  letter-spacing: 2px;/*字符间距*/
  text-align: center;/*水平居中*/
  line-height:300px;/*单行行间距等于高度可设置垂直居中*/
}
.bg-style{
  height:240px;
  width: 240px;
  border:dashed 1px #f00;
  background-image: url(images/fu.jpg);
  background-repeat:no-repeat;
  background-attachment: fixed;
  background-position: 10px 380px;
  background-color: #ccc;
}
